<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Apple Login</title>
  </head>
  <body>
    <script type="text/javascript"
            src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
    <div id="appleid-signin"
         data-color="black"
         data-border="true"
         data-type="sign in"></div>
    <script type="text/javascript">
    AppleID.auth.init({
      clientId: '',
      scope: 'name email',
      redirectURI: '',
      usePopup: true
    });

    const buttonElementNew = document.getElementById('appleid-signin');
    buttonElementNew.addEventListener('click', async () => {
      try {
        const data = await AppleID.auth.signIn()

        console.log('Try/Catch Data', data.authorization.id_token);
        const formData = new FormData();
        formData.append("token", data.authorization.id_token);
        await fetch("", {
            method: "POST",
            body: formData,
        });          
        // Handle successful response.
      } catch (error) {
        // Handle error.
      }
    });
    </script>
  </body>
</html>
